<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: #be0000;
        }
    </style>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>Seismograph fault detected</title>
</head>
<body>
<div class="warning">
    <div><img src="../assets/images/Volcano.png" width="200"/></div>
    <h1>Seismograph FAILURE detected</h1>
    <p>Please insert a emergency data recovery key.</p>
</div>
</body>
</html>
