<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: #be0000;
        }
    </style>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>UN backup servers administration</title>
</head>
<body>
<div class="warning">
    <div><img src="../assets/images/un_white.png" width="200"/></div>
    <h1>Authentication</h1>
    <p>Please authenticate with a UN back server emergency restart key.</p>
</div>
</body>
</html>
