<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: #23be00;
        }
    </style>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>UN backup servers administration</title>
</head>
<body>
<div class="warning">
    <div><img src="../assets/images/un_white.png" width="200"/></div>
    <h1>UN defense key detected !</h1>
    <p>Starting emergency server clusters, please wait ...</p>
    <div><img src="../assets/images/loader.gif" width="100"/></div>
</div>
</body>
</html>
