<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: #23be00;
            background-image: url("../assets/images/lanzarote.jpeg");
            background-size: cover;
        }
    </style>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>Seismograph operations</title>
</head>
<body>
<div class="warning anomaly">
    <div><img src="../assets/images/Volcano.png" width="200"/></div>
    <h1>Anomaly detected.</h1>
    <p>Triangulation completed</p>
</div>
</body>
<div class="target">
    <img src="../assets/images/loader-transp.gif" width="100"/>
</div>
</html>
